.hero {
    height: auto;
    width: 50%;
    margin-left: 50%;
    margin-top: 20%;
}
  
// .core path  {

//     fill: rgba(0, 23, 66, 0.9);
//     stroke: rgb(21, 0, 70)
// } 

// .spin path {

//     stroke: hsla(194 85% 62% / .9)
// }
